h3,
a,
p {
  color: white;
  text-align: left;
  margin-left: 5%;
}

.music-card {
  text-align: left;
  height: 150px;
  width: 80%;
  background: transparent;
  border-radius: 5px;
  margin: 10px;
  border: 2px solid white;
}

.album-cover {
  float: right;
  clear: left;
  width: 200px;
  height: 150px;
}
