h3,
a {
  color: white;
  margin-left: 5%;
  padding-bottom: 2%;
  text-align: left;
}

h3 {
  text-decoration: underline;
}

.list {
  margin-left: 5%;
  padding-bottom: 5%;
  width: 70%;
}

.track {
  clear: left;
  height: 140px;
  text-align: left;
}

.track:hover {
  cursor: pointer;
}

img {
  float: right;
  height: 100px;
  width: 100px;
}

.item {
  color: black;
  margin: 0;
  padding: 0;
}
