.About {
  background: url(../../Assets/Mac-About-Page.jpeg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

h2 {
  margin: 0 auto;
  color: white;
}
