.home {
  background: url(../../Assets/Mac.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color:#287D8C;
    height: 10%;
}

span {
    color:#F6A026;
}

h1 {
    margin-top: 30px;
    margin-left: 5%;
    font-size: 2.5rem;
    color:white; 
}

nav {
    padding-top: 5px; 
}

.about-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding-right: 20%;
}

.about-link:hover {
    color: #F6A026; 
}