html {
  height: 100%;
}

.home {
  background: url(../../Assets/Mac-About-Page.jpeg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

.home-header {
  display: flex;
  justify-content: space-between;
  background-color: #c32266;
  height: 6%;
}

span {
  color: #6b08fc;
}

h1 {
  margin-top: 1%;
  margin-left: 2%;
  font-size: 2.5rem;
  color: white;
}

nav {
  padding-top: 5px;
}

.about-link,
.favorites-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.about-link {
  padding-right: 20%;
}

.about-link:hover {
  color: #6b08fc;
  text-decoration: none;
}

.favorites-link:hover {
  color: #6b08fc;
  text-decoration: none;
}
