form {
  display: flex;
  flex-direction: row;
  border: 5px solid white;
  width: 50%;
  margin: 5% auto;
  border-radius: 5px;
}

input {
  height: 2rem;
  width: 80%;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  text-align: left;
  border: none;
}

button {
  background: #287d8c;
  width: 15%;
  color: white;
  font-size: 1rem;
  border-radius: 1px;
}

button:hover {
  cursor: pointer;
  background-color: #f6a026;
  color: black;
}
