@import url("../Components/App/App.scss");
@import url("../Components/Home/Home.scss");
@import url("../Components/About/About.scss");
@import url("../Components/Search/Search.scss");
@import url("../Components/Music/Music.scss");
@import url("../Components/Movies/Movies.scss");
@import url("../Components/Television/Television.scss");
@import url("../Components/Favorites/Favorites.scss");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
